.invalidPostCode{
    color: red;
    padding-left: 7px;
}

.postcodebox{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.red{
    background-color: red;
}